li[data-ui-id*="menu-webbytroops-core-core"]>a {
    &:before {
        background-image: url('WebbyTroops_Core::images/logo.png');
        background-repeat: no-repeat;
        background-size: 100% !important;
        content: '' !important;
        display: inline-block !important;
        width: 48px !important;
    }
    &:hover:before{
       background-position: 0px -26px;
    }
}
li[data-ui-id*="menu-webbytroops-core-core"]._active>a {
    &:before{
       background-position: 0px -26px;
    }
}
.wt-logo {
    padding: 10px 0px;
}
.wt-logo:before {
    background-image: url('WebbyTroops_Core::images/full-logo.png');
    background-repeat: no-repeat;
    display: inline-block;
    background-size: 160px;
    position: absolute;
    top: 8px;
    height: 34px;
    width: 95%;
    content: '';
}