<?xml version="1.0"?>
<!--
/**
 * Copyright © WebbyTroops Technologies, Inc. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>  
        <add id="WebbyTroops_Core::core" title="WebbyTroops" translate="title" module="WebbyTroops_Core" sortOrder="20" resource="WebbyTroops_Core::core"/>
    </menu>
</config>